<% if @user.nil? %>
<h1>User not found</h1>
<% else %>
ID: <%= @user.id %><br>
Email: <%= @user.email %><br>
Sign in Count: <%= @user.sign_in_count %><br>
Last signed in at: <%= @user.last_sign_in_at %><br>
<% end %>